
.nav{

    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.nav ul{
    display: flex;
    justify-content: flex-end;
    border-bottom: solid 2px #024E42;
    width: 50%;

}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    display: block;
    
    padding: 30px 60px;
    color: #2F534D;
}
.nav .btn{
    padding: 5px 30px;
    margin-right: 20px;
}
.active{
    color: #00A78D !important;
    text-shadow: 0px 0px 6px #00A78D;
}
.nav .githubLink{
    color: rgb(173, 173, 173);
}
.nav .githubLink:hover{
    color: rgb(209, 209, 209);
}
@media only screen and (max-width: 768px) {
    /* CSS styles specific to mobile devices */
    .nav{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 30px;
    }
    .nav ul{
        display: flex;
        justify-content: center;
        border-bottom: solid 2px #024E42;
        width: 100%;
    
    }
    .nav ul li a{
        display: block;
        padding: 20px 30px;
        color: #2F534D;
    }
  }
  