
.stackList{
}
.stackList ul{
    display: flex;
}
.li{
    padding: 10px 10px;
    border-radius: 10px;
    background: rgb(17, 17, 17, 0.2);;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    margin: 10px;
}
.li p{
    width: 100px;
    font-size: 14px;
}

.profileDescription{
}