.main{
    display: flex;
    flex-direction: column;
}
.thumbnailContainer{
    padding: 0px 40px ;
 }
.thumbnailContainer a{
    display: flex;
    grid-gap: 20px;
}
.textWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 .thumbnailContainer img{
    width: 400px;
 }
.tabContainer{

}

.tab{
    border-bottom: solid 2px rgb(17, 17, 17, 0.2);
    cursor: pointer;
    transition: 0.2s;
}
.tab p{
 padding: 20px 40px;
}
.active{
    text-decoration: underline;
}