.main{
    display: flex;
}

.tabContainer{
}

.tab{
    border-bottom: solid 2px rgb(17, 17, 17, 0.2);
    cursor: pointer;
    transition: 0.2s;
}
.tab p{
 padding: 20px 40px;
}
.active{
    text-decoration: underline;
}