
.tabContainer{
    display: flex;
    grid-gap: 40px;
}

.tab{
    cursor: pointer;
    transition: 0.2s;
}
.tab p{
}
.active{
    color: white;
}


.projectTxtBtnWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 40px;

}
.btnWrapper{
    display: flex;
    grid-gap: 20px;
}

.thumbnailContainer{
    display: flex;
    grid-gap: 20px;
    background-color: #202020;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 5px #1b1b1b;
    max-width: 1000px;
    border-right: solid 4px rgb(41, 108, 159);
}
.thumbnailContainer a{
    display: flex;
}
.textWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
 .thumbnailContainer img{
    width: 400px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 }


 .iconThumbnail{
 }

 .iconThumbnail img{
    width: 250px;

 }